@import url(reset.css);
@import url(fonts.css);


/*-------Basic Styles--------*/
html {
    height: 100%;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font:16px Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    hyphens: auto;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-: border-box;
    -moz-box-: border-box;
    box-sizing: border-box;
}


a {text-decoration: none;}
a:hover {text-decoration: none;}

a:active, a:hover {outline:0;}

img {
    border: none;
    vertical-align: middle;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {float:left;}
.right {float: right;}


/*-------Main Styles--------*/
html {
    font-size: 10px;
}
body {
    background-color: #333;
    padding: 2rem;
    color: #ccc;
}

#wrapper {
    margin: 0 auto;
    max-width: 1024px;
    height: 100%;
}

#wrapper h2 {
    color: #ff6d00;
    font-size: 2rem;
    margin-bottom: 2rem;
}
/*Gradients*/
.box1,
.box2 {
    display: inline-block;
    width: 24rem;
    height: 15rem;
}

.box1 {
    margin-right: 5rem;
    background-color: #ff6d00;
    background: -moz-linear-gradient(to left top,#ff6d00,#fffe00,#ff6d00); 
    background: -webkit-linear-gradient(to left top,#ff6d00,#fffe00,#ff6d00); 
    background: -o-linear-gradient(to left top,#ff6d00,#fffe00,#ff6d00); 
    background: -ms-linear-gradient(to left top,#ff6d00,#fffe00,#ff6d00); 
    background: linear-gradient(to left top,#ff6d00,#fffe00,#ff6d00);
}
.box2 {
    background-color: #2f0d57;
    background: -moz-radial-gradient(90deg,circle closest-side,#2f0d57,#ff7c00); 
    background: -webkit-radial-gradient(90deg,circle closest-side,#2f0d57,#ff7c00); 
    background: -o-radial-gradient(90deg,circle closest-side,#2f0d57,#ff7c00); 
    background: -ms-radial-gradient(90deg,circle closest-side,#2f0d57,#ff7c00); 
    background: radial-gradient(90deg,circle closest-side,#2f0d57,#ff7c00);
}
/*scale 200%*/

.scale {
    margin: 8rem auto;
    width: 24rem;
    height: 15rem;
    background-color: #406224;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding: 1rem 2rem;
}

.scale:hover {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.scale-h2 {
    color: #000;
}

/*3d-transform */

.transform-container {
    position: relative;
    margin: 0 auto;
    width: 24rem;
    height: 15rem;
    z-index: 1;
    perspective: 1000;
}

.transform-card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front-side, .back-side {
    width: 100%;
    height: 100%;
    transition: all 2s linear;
    -webkit-transition:all 2s linear;
    text-align: center;
    color: #ff6d00;
    text-transform: uppercase;
    padding-top: 20%;
    font-size: 3rem;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: .7rem .7rem .7rem #000;
    -webkit-box-shadow:.7rem .7rem .7rem #000;
}

.front-side {
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #606dbc;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}

.back-side {
    display: block;
    transform: rotateY(180deg);
    background-color: #B9ECFE; 
    background: repeating-linear-gradient(45deg, #3a3730, #3a3730 10px, #91722b 10px, #91722b 20px);
}

.transform-card:hover .front-side {
    transform-origin: left;
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.transform-card:hover .back-side {
    transform-origin: left;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);

}



